@use "../abstracts";

%flexItemCenter {
	display: flex;
	align-items: center;
}

.header {
	background: var(--header-bg-color);

	@include abstracts.breakpoint(lg) {
		box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
	}
}

.top-bar {
	position: relative;
	padding: 3rem 0;
	z-index: 1;
	@extend %flexItemCenter;

	@include abstracts.breakpoint(lg) {
		justify-content: space-between;
		padding: 2rem 0;
	}

	@include abstracts.breakpoint(sm) {
		padding: 1.6rem 0;
	}
}

.navbar {
	margin-left: 12.9rem;

	@include abstracts.breakpoint(xl) {
		margin-left: 3rem;
	}

	@include abstracts.breakpoint(lg) {
		position: fixed;
		inset: 0 50% 0 0;
		z-index: 9;

		margin-left: 0;
		padding: 2rem;
		border-radius: 0rem 2rem 2rem 0rem;

		background: var(--sidebar-bg);
		box-shadow: var(--sidebar-shadow);

		transform: translateX(-101%);
		transition: transform 0.5s ease;
		overflow-y: auto;

		&.show {
			transform: translateX(0);
		}

		&.show + &__overlay {
			opacity: 1;
			visibility: visible;
		}
	}

	@include abstracts.breakpoint(sm) {
		inset: 0 20% 0 0;
		padding: 1rem 1rem 0 0;
	}

	&__close-btn {
		display: none;
		padding: 1rem 2rem;

		@include abstracts.breakpoint(lg) {
			display: block;
		}
	}

	&__overlay {
		opacity: 0;
		visibility: hidden;
		transition: opacity, visibility;
		transition-duration: 0.5s;

		@include abstracts.breakpoint(lg) {
			position: fixed;
			inset: 0;
			z-index: 8;
			background: rgba(0, 0, 0, 0.4);
		}
	}

	&__list {
		@extend %flexItemCenter;

		@include abstracts.breakpoint(lg) {
			flex-direction: column;
			align-items: flex-start;
			overflow-y: auto;
			height: calc(100% - 2.6rem);
		}
	}

	&__item {
		&:hover .dropdown {
			display: block;
		}

		@include abstracts.breakpoint(lg) {
			width: 100%;

			&:hover .sub-menu--not-main {
				display: grid;
			}

			&:hover .dropdown {
				display: none;
			}

			&--active .dropdown {
				display: block !important;
			}

			&--active .navbar__arrow {
				rotate: 0deg;
				transition: rotate 0.3s ease;
			}
		}
	}

	&__link {
		@extend %flexItemCenter;
		gap: 0.6rem;

		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.46;
		height: 5rem;
		padding: 0 1.5rem;

		@include abstracts.breakpoint(lg) {
			justify-content: space-between;
		}
	}

	&__arrow {
		margin-top: 0.3rem;

		@include abstracts.breakpoint(lg) {
			rotate: -90deg;
		}
	}
}

.top-act {
	@extend %flexItemCenter;
	gap: 2rem;
	margin-left: auto;

	@include abstracts.breakpoint(lg) {
		margin-left: 0;
	}

	&__group {
		@extend %flexItemCenter;
		gap: 1rem;

		min-width: 5rem;
		height: 5rem;
		padding: 1rem 2rem;

		border-radius: 0.8rem;
		background: var(--top-act-group-bg-color);
		box-shadow: 0px 20px 60px 10px var(--top-act-shadow);

		&--single {
			padding: 1.3rem;

			@include abstracts.breakpoint(lg) {
				display: none;
			}
		}
	}

	&__btn {
		@extend %flexItemCenter;
		gap: 1rem;
	}

	&__title {
		color: var(--text-color);
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.46;
	}

	&__separate {
		width: 0.1rem;
		height: 3rem;
		background: var(--top-act-group-separate);
	}

	&__avatar {
		width: 5rem;
		height: 5rem;
		border-radius: 0.8rem;
		display: block;
		cursor: pointer;
	}
}

.nav-btn {
	height: 5rem;
	padding: 0 1.5rem;
	align-items: center;

	&__text {
		margin-left: 1.6rem;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.46;
	}

	&__qty {
		@extend .nav-btn__text;
		margin-left: auto;
	}

	@include abstracts.breakpoint(sm) {
		height: 4rem;
	}
}
