%flexItemCenter {
	display: flex;
	align-items: center;
}

.header {
	background: #eee;
	padding: 3rem 0;
}

.top-bar {
	@extend %flexItemCenter;
}

.navbar {
	margin-left: 14.4rem;
	margin-right: auto;

	&__list {
		@extend %flexItemCenter;

		gap: 3rem;
	}

	&__link {
		@extend %flexItemCenter;
		gap: 0.6rem;

		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.46;
	}

	&__arrow {
		margin-top: 0.3rem;
	}
}

.top-act {
	@extend %flexItemCenter;

	gap: 2rem;

	&__group {
		@extend %flexItemCenter;
		gap: 1rem;

		min-width: 5rem;
		height: 5rem;
		padding: 1rem 2rem;

		border-radius: 0.8rem;
		background: #fff;
		box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

		&--single {
			padding: 1.3rem;
		}
	}

	&__btn {
		@extend %flexItemCenter;
		gap: 1rem;
	}

	&__title {
		color: #1a162e;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.46;
	}

	&__separate {
		width: 0.1rem;
		height: 3rem;
		background: #ededf6;
	}

	&__avatar {
		width: 5rem;
		height: 5rem;
		border-radius: 0.8rem;
		display: block;
		cursor: pointer;
	}
}
