// Filter
.filter-btn {
	display: flex;
	align-items: center;
	gap: 1.4rem;
	padding: 0.6rem 1.2rem;
	border-radius: 0.8rem;
	background: var(--filter-btn-bg);

	color: var(--filter-btn-color);
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.42;
	min-height: 3.6rem;
}

// Like
.like-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

	&:not(&--liked) &__icon--liked {
		display: none;
	}

	&--liked &__icon {
		display: none;
	}
}

// Buttons
.btn {
	color: #1a162e;
	font-weight: 500;
	height: 4rem;
	padding: 0 2rem;
	background: #F8F8FB;
	border-radius: .6rem;
	user-select: none;

	+ .btn {
		margin-left: 2rem;
	}

	&--text {
		color: #9E9DA8;
		border: none;
		background: transparent;
	}

	&--primary {
		background: #FFB700;
	}

	&--outline {
		border: .1rem solid var(--text-color);
		background: transparent;
	}

	&--rounded {
		border-radius: 99rem;
	}

	&:hover {
		opacity: .9;
		transition: opacity .25s ease;
	}

	&[disabled],
	&--disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}























