@use "../abstracts";

.dropdown {
	width: min(124rem, 100%);
	padding-top: 5.4rem;
	position: absolute;
	left: 0;
	display: none;

	&__inner {
		--inner-padding: 3rem;

		position: relative;
		padding: var(--inner-padding);
		border-radius: 2rem;
		background: var(--dropdown-bg-color);
		box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

		&::before {
			content: url(../icons/dropdown-arrow.svg);
			position: absolute;
			top: -1.3rem;
			left: var(--arrow-left-pos);
			filter: var(--dropdown-arrow-color);
			translate: -50%;
		}

		@include abstracts.screen(lg) {
			border-radius: 0;
			background: transparent;
			box-shadow: none;
			padding: 0 1.5rem;
		}

		@include abstracts.screen(lg) {
			&::before {
				content: "";
			}
		}
	}

	@include abstracts.screen(lg) {
		position: initial;
		padding-top: 0;
	}
}

.top-menu {
	--main-column-width: 29.2rem;
	--main-inner-height: calc(min(59.2rem, 100vh - 13.4rem) - var(--inner-padding) * 2);

	position: relative;

	&__main {
		width: var(--main-column-width);
		height: var(--main-inner-height);
		border-right: 0.1rem solid var(--top-menu-border-color);

		@include abstracts.screen(lg) {
			border-right: none;
		}
	}
}

.menu-column {
	display: flex;
	gap: 1.4rem;

	@include abstracts.screen(lg) {
		&:hover &__list {
			display: grid;
		}
	}

	+ .menu-column {
		margin-top: 2.2rem;
	}

	&__icon {
		position: relative;
		flex-shrink: 0;
		width: 3.6rem;
		height: 3.6rem;

		@include abstracts.screen(xl) {
			display: none;
		}
	}

	&__icon-1 {
		width: 3rem;
		height: 3rem;
		object-fit: contain;
	}

	&__icon-2 {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 2.4rem;
		width: 2.4rem;
		object-fit: contain;
		filter: var(--menu-column-icon-color);
	}

	&__content {
		flex: 1;
	}

	&__heading {
		margin-top: 0.4rem;
		font-weight: 500;
		line-height: 1.5;
	}

	&__list {
		margin-top: 1.9rem;

		@include abstracts.screen(lg) {
			margin: 0;
		}
	}

	&__item {
		&--active .sub-menu {
			display: grid;
		}
	}

	&__item--active > &__link,
	&__item:hover > &__link {
		color: #0071dc;
		font-weight: 500;
	}

	&__link {
		padding: 0.7rem 0;
		font-size: 1.4rem;
		line-height: 1.42;
		display: block;
	}
}

.sub-menu {
	position: absolute;
	inset: 0 0 0 var(--main-column-width);

	display: none;
	grid-template-columns: repeat(3, 1fr);
	padding-left: var(--inner-padding);

	overflow-y: auto;

	&--not-main {
		position: initial;
		inset: inherit;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		height: var(--main-inner-height);
		padding-left: 0;
	}

	@include abstracts.screen(lg) {
		position: initial;
		display: none;
		grid-template-columns: 1fr;
		padding: 1rem 0;
		overflow-y: auto;
	}

	& .menu-column__icon {
		@include abstracts.screen(lg) {
			display: block;
		}
	}
}
