@use "../abstracts";

.logo {
	display: flex;
	align-items: center;
	gap: 1.4rem;

	@include abstracts.screen(lg) {
		gap: 1rem;
	}

	&__img {
		@include abstracts.screen(lg) {
			width: 2.4rem;
		}
	}

	&__title {
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 1.45;

		@include abstracts.screen(lg) {
			font-size: 1.8rem;
		}
	}
}
