.slideshow {
	position: relative;
	margin: 4rem 0;

	&__inner {
		display: flex;
		overflow: hidden;
	}

	&__item {
		width: 100%;
		flex-shrink: 0;
	}

	&__img {
		width: 100%;
		border-radius: 2rem;
	}

	&__slider {
		--color: #fff;

		display: flex;
		align-items: center;
		column-gap: 2.3rem;
		position: absolute;
		color: var(--color);
		bottom: 7rem;
		left: 7rem;

		&-num {
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 1.4;
		}

		&-stick {
			position: relative;
			width: 17.4rem;
			height: 0.4rem;
			flex-shrink: 0;
			background: var(--color);

			&::before,
			&::after {
				position: absolute;
				content: "";
				width: 1.4rem;
				height: 1.4rem;
				border: 0.4rem solid var(--color);
				border-radius: 50%;
				display: inline-block;
				top: 50%;
			}

			&::before {
				left: 0;
				translate: -90% -50%;
			}

			&::after {
				right: 0;
				translate: 90% -50%;
			}
		}
	}
}
