@use "../abstracts";

.slideshow {
	position: relative;
	margin: 4rem 0;

	&__inner {
		display: flex;
		overflow: hidden;
	}

	&__item {
		position: relative;
		width: 100%;
		flex-shrink: 0;
		padding-top: 34%;

		@include abstracts.breakpoint(md) {
			padding-top: 50%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		object-fit: cover;
	}

	&__slider {
		--color: #fff;

		display: flex;
		align-items: center;
		column-gap: 2.3rem;
		position: absolute;
		color: var(--color);
		bottom: 15%;
		left: 5.2%;

		&-num {
			font-size: 1.8rem;
			font-weight: 500;
			line-height: 1.4;

			@include abstracts.breakpoint(md) {
				font-size: 1.4rem;
				line-height: 1.42;
			}
		}

		&-stick {
			position: relative;
			width: 17.4rem;
			height: 0.4rem;
			flex-shrink: 0;
			background: var(--color);

			&::before,
			&::after {
				position: absolute;
				content: "";
				width: 1.4rem;
				height: 1.4rem;
				border: 0.4rem solid var(--color);
				border-radius: 50%;
				display: inline-block;
				top: 50%;

				@include abstracts.breakpoint(md) {
					border-width: 0.3rem;
				}
			}

			&::before {
				left: 0;
				translate: -90% -50%;
			}

			&::after {
				right: 0;
				translate: 90% -50%;
			}

			@include abstracts.breakpoint(md) {
				width: 7.4rem;
			}
		}
	}
}
