@use "../abstracts";

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: Gordita, sans-serif;
	background: var(--body-bg);
}

a {
	text-decoration: none;
}

a,
img,
button,
select,
textarea,
input {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

button {
	padding: 0;
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

input {
	background: inherit;
}

img {
	user-select: none;
	pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	word-break: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.icon {
	filter: var(--icon-color);
}

.container {
	@include abstracts.screen(sm) {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}
