*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--text-color);
	font-size: 1.6rem;
	font-family: Gordita, sans-serif;
	background: var(--body-bg);
}

a {
	text-decoration: none;
}

a,
img,
button,
select,
textarea,
input {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	-webkit-tap-highlight-color: transparent;
}

button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

img {
	user-select: none;
	pointer-events: none;
}

.icon {
	filter: var(--icon-color);
}
